
body {
	background-color: #33CC33;
	text-align: center;
}



h1 {
	color: #00005C; 
	font-size: 40px;
	font-style: bold;
	font-family: helvetica;
	text-align: center;
	border-bottom: dotted;
	padding-bottom: 12px;
}

h2 {
	font-size: 25px;
	font-family: helvetica;
	color: #000066;
	text-align: center;
	}

h3 {
	color:#5C005C;
	font-family: helvetica;
}

img.frontpic {
	width: 1100px;
	height: 300px;

}
img.processpic {
	width: 200px;
	height: 200px;
}

p {
	color: white; 
	font-size: 20px;
	font-family: helvetica;
	border-width: 200px;
	text-align: center;


}
div#process {
	position: relative;
	right: 200px;

}

